/* 여기는 주석

(전체 *) 컬러는 red로 설정한다. 실행시 텍스트 포함 전체 red로 출력된다.
* {
    color: red;
}

*/


/* 아래는 타입 선택자 (이름이 선택자와 같은 요소에 적용된다.) */
h1 {
    color : blue
}

/* 위 코드 사용시 h1 함수들은 전체적으로 파랑색을 뛰운다. */
/* 만일 한개 요소가 아닌 2개 이상 요소를 선택할때는 아래와 같이 사용한다. */

h2, h3 {
    color: cadetblue;
}

/* 위 코드를 사용하면 h2 요소와 h3 요소는 cadetblue 색상을 뛰우게 된다. */

/* 속성 선택자는 요소의 특정 속성에 스타일을 적용한다. */

a[href]{
    color: pink;
    text-decoration: underline; 
}

/* 위코드는 a 태그안에 있는 href 속성에 대해서 색상을 부여한다는것이다. 
실행하게 될경우 이동링크에  text-decoration: underline; 코드를 넣어서 밑줄이 생성된다. 
a 태그는 밑줄이 기본적으로 밑줄이 적용된다. 일반 텍스트도 밑줄을 사용하고자 할경우  text-decoration: underline; 를 사용하면된다.
*/

p[data]{
    color: blueviolet;
}

/* 위 코드를 사용하면 p 태그안에 data 속성을 부여받은 p 코드만 텍스트를 변경할수있다. */

#wrap {
    border: solid 1px #add
}

/* 아이디 선택자는 페이지내에서 한곳에만 적용된다. */
.content {
    padding: 10px;
    color: red;
    border: solid 1px #ddd
}

/* 클래스 선택자는 아이디 선택자와는 다르게 공통으로 여러곳에 스타일을 적용할수있다. */